<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/header-footer-styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
   
</head>

<body>
    
    <header>
        <div class="top-header">
            <div class="burgerMenu">
                <span class="material-symbols-outlined">menu</span>
            </div>
            <form class="form" action="#" method="GET">
                <input class="input" placeholder="Buscar">
                <button class="submit"><span class="material-symbols-outlined">search</span></button>
            </form>
            <figure class="logo">
                <img src="images/LOGO_color.png" alt="logo_ARRAYCES">
            </figure>
            <div class="shoppingBag">
                <a href="./productCart"><span class="material-symbols-outlined">shopping_bag</span></a>
            </div>
        </div>
        <nav class="totalNav">
            <ul class="navSite">
                <li><a href="./">Home</a></li>
                <li><a href="#">Quiénes somos</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Tips y cuidados</a></li>
                <li><a href="#">Envíos</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
            </ul>
            <ul class="navLogin">
                <li><a href="./register">Crear cuenta</a></li>
                <li><a href="./login">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="login">
            <div class="login-items">
                <div class="in-cuenta-log"> 
                    <h4> Inicio /  Mi cuenta /  <strong> Iniciar sesión </strong> </h4>
                </div>
                <div class="iniciar-sesion">
                    <h2>Iniciar sesión</h2>
                    <div class="login-con-gg-fb">
                        <button class="gg"><i class="fab fa-google"></i> <span>Iniciar con Google</span></button>
                        <button class="fb"><i class="fab fa-facebook-f"></i><span> Iniciar con Facebook </span></button>
                    </div>
                    <form action="#" method="POST" class="login-form">
                        <div>
                            <input type="text" name="nombre" class="nombre" placeholder="Nombre de usuario o email" required>
                            <div class="feedback"></div>
                        </div>
                        <div>
                            <input type="password" name="contraseña" class="contraseña"  placeholder="Contraseña"  required> 
                            <div class="feedback"></div>
                        </div>
                        <p> <a href="#">¿Olvidaste tu contraseña?</a></p>
                        <div class="contenedor-robot">
                            <div class="robot">
                                <input class="checkbox" type="checkbox" name="No soy un robot">
                                <p>No soy un robot</p>  
                                <img class="recaptcha" src="images/reCAPTCHA-logo.png" alt="LOGO reCAPTCHA"> <!-- + IMG RECAPTCHA Y achique tamaño-->
                            </div>
                        </div>
                        <button class="boton-inicio"> Iniciar sesión </button> 
                    </form> 
                    <div class="registrate">
                        <p class="link"> <a href="/register">¿No tienes cuenta? ¡Registrate!</a></p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="socialMediaAndInfo">
            <div class="socialMedia">
                <h4>REDES SOCIALES</h4>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
            <ul class="ourInfo">
                <li><a href="">Quiénes somos</a></li>
                <li><a href="">Políticas</a></li>
            </ul>
        </div>
        <ul class="footerNav">
            <li><a href="./">Home</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Tips y cuidados</a></li>
            <li><a href="">Envíos</a></li>
            <li><a href="">Preguntas frecuentes</a></li>
        </ul>
        <div class="contactAndFooterLogin">
            <ul class="contact">
                <li>CONTACTO</li>
                <li class="contactInfo"><i class="fas fa-envelope"></i>info@arrayces.com.ar</li>
                <li class="contactInfo"><i class="fas fa-phone"></i>11-0055-5500</li>
                <li class="contactInfo"><i class="fas fa-map-marker-alt"></i>Los Lirios 420, CABA</li>
            </ul>
            <div class="footerLogin">
                <button type="button"><a href="./register">Crear cuenta</a></button>
                <button type="button"><a href="./login">Iniciar sesión</a></button>
            </div>
        </div>
        <figure class="footerIsoMobile">
            <img src="images/LOGO_white.png" alt="Iso ARRAYCES">
        </figure>
        <figure class="footerIsoDesktop">
            <img src="images/ISO_white.png" alt="Iso ARRAYCES">
        </figure>
    </footer>
    
</body>
</html>