<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/header-footer-styles.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Detalle del producto</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="burgerMenu">
                <span class="material-symbols-outlined">menu</span>
            </div>
            <form class="form" action="#" method="GET">
                <input class="input" placeholder="Buscar">
                <button class="submit"><span class="material-symbols-outlined">search</span></button>
            </form>
            <figure class="logo">
                <img src="images/LOGO_color.png" alt="logo_ARRAYCES">
            </figure>
            <div class="shoppingBag">
                <a href="./productCart"><span class="material-symbols-outlined">shopping_bag</span></a>
            </div>
        </div>
        <nav class="totalNav">
            <ul class="navSite">
                <li><a href="./">Home</a></li>
                <li><a href="#">Quiénes somos</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Tips y cuidados</a></li>
                <li><a href="#">Envíos</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
            </ul>
            <ul class="navLogin">
                <li><a href="./register">Crear cuenta</a></li>
                <li><a href="./login">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section class="productDetailSection">
            <p class="productDetailName">Productos / Plantas / <strong>Nerium Oleander</strong></p>
            <div class="productDetail">
                <figure class="productImage">
                    <div class="smallImages">
                        <img src="/images/nerium-oleander1.jpg" alt="nerium oleander" class="default">
                        <img src="/images/nerium-oleander2.jpg" alt="nerium oleander detalle">
                    </div>
                    <div class="bigImage">
                        <img src="/images/nerium-oleander1.jpg" alt="nerium oleander">
                    </div>
                </figure>
                
                <div class="productDetailInfo">
                    <h3 class="productDetailTitle">Nerium Oleander</h3>
                    <p class="productDetailPrice">$3000,00</p>
                    <div class="payment">
                        <p>6 cuotas sin interés de <strong>$500</strong></p>
                        <a href=""><p class="method">Ver medios de pago</p></a>
                    </div>
                    <form class="productDetailDescription">
                        <div class="size">
                            <label>Tamaño</label>
                            <select name="tamaño">
                                <option value="small"> S (Small)</option>
                                <option value="medium"> M (Medium)</option>
                                <option value="large"> L (Large)</option>
                                <option value="extra-large"> XL (Extra Large)</option>
                            </select>
                        </div>
                        <div class="amount">
                            <p>Cantidad</p>
                            <div class="productDetail-amount">
                                <i class="fas fa-minus" id="minus"></i>
                                <span> 1 </span>
                                <i class="fas fa-plus" id="plus"></i>
                            </div> 
                        </div>
                        <div class="productDetailButton">
                            <a href="./productCart"> <button type="submit">  AGREGAR AL CARRITO  </button> </a>
                        </div>
                        <div class="productDetailDelivery">
                            <select name="productDetailDelivery">
                                <option>Elegí el medio de envío </option>
                                <option>Retiro en el local</option>
                                <option>Envío a domicilio</option>
                            </select>
                        </div>  
                    </form>
                </div>
            </div>

            <div class="productDetailData">
                <div class="productDetailText">
                    <h4>¡Prestá atención!</h4>
                    <p>Las plantas son seres vivos que requieren de nuestro cuidado y atención. El mismo amor y  atención que le darías a una mascota. </p>
                    <br>
                    <p>Una vez adquiridas las plantas, ¡no tienen cambio o devolución!</p>
                    <br>
                    <p>LAS FOTOS SON ILUSTRATIVAS. NO INCLUYE MACETA.</p>
                </div>
                <div class="productDetailSize">
                    <h4>Tamaños que trabajamos:</h4>
                    <p>S: Altura 25 cm Ancho 18 cm <br>
                    M: Altura 50 cm Ancho 20 cm <br>
                    L: Altura 70 cm Ancho 25 cm <br>
                    XL: Altura 110 cm Ancho 40 cm</p> 
                </div>
            </div>
        </section>
        

        <section class="productosRelacionados">
            <h2>Productos relacionados</h2>
            <div class="products">
                <article>
                    <a href="./productDetail">
                        <figure>
                            <img src="images/agapanthus-africanus1.jpg" alt="Agapanthus" class="product-image">
                            <a href="#"><span class="material-symbols-outlined" id="shopProduct">shopping_bag</span></a>
                        </figure>
                        <div class="description">
                            <h3 class="name">Agapanthus Africanus</h3>
                            <p class="price">$1.800,00</p>
                            <p class="fee">6 cuotas sin interés de <strong>$300,00</strong></p>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="./productDetail">
                        <figure>
                            <img src="images/calathea-potus-variegado1.jpg" alt="Potus" class="product-image">
                            <a href="#"><span class="material-symbols-outlined" id="shopProduct">shopping_bag</span></a>
                        </figure>
                        <div class="description">
                            <h3 class="name">Potus Variegado</h3>
                            <p class="price">$1.800,00</p>
                            <p class="fee">6 cuotas sin interés de <strong>$300,00</strong></p>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="./productDetail">
                        <figure>
                            <img src="images/ficus-elastica-variegata1.jpg" alt="Ficus" class="product-image">
                            <a href="#"><span class="material-symbols-outlined" id="shopProduct">shopping_bag</span></a>
                        </figure>
                        <div class="description">
                            <h3 class="name">Ficus elástica variegata</h3>
                            <p class="price">$1.800,00</p>
                            <p class="fee">6 cuotas sin interés de <strong>$300,00</strong></p>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="./productDetail">
                        <figure>
                            <img src="images/fittonia1.jpg" alt="Fittonia" class="product-image">
                            <a href="#"><span class="material-symbols-outlined" id="shopProduct">shopping_bag</span></a>
                        </figure>
                        <div class="description">
                            <h3 class="name">Fittonia</h3>
                            <p class="price">$1.800,00</p>
                            <p class="fee">6 cuotas sin interés de <strong>$300,00</strong></p>
                        </div>
                    </a>
                </article>
            </div>
        </section>

        <section class="benefits">
                <div class="local_shipping">
                    <span class="material-symbols-outlined" id="benefitsIcon">local_shipping</span>
                    <h3 class="benefitsTitle">Envíos sin cargo</h3>
                    <p>en CABA en compras superiores a $1.500,00</p>
                </div>
                <div class="verticalLine"></div>
                <div class="phone_in_talk">
                    <span class="material-symbols-outlined" id="benefitsIcon">phone_in_talk</span>
                    <h3 class="benefitsTitle">Consultas</h3>
                    <p>Te asesoramos con tu compra</p>
                </div>
                <div class="verticalLine"></div>
                <div class="paid">
                    <span class="material-symbols-outlined" id="benefitsIcon">paid</span>
                    <h3 class="benefitsTitle">Pagá como quieras</h3>
                    <p>Transferencia, tarjeta de crédito, efectivo</p>
                </div>
            </section>

    </main>

    <footer>
        <div class="socialMediaAndInfo">
            <div class="socialMedia">
                <h4>REDES SOCIALES</h4>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
            <ul class="ourInfo">
                <li><a href="">Quiénes somos</a></li>
                <li><a href="">Políticas</a></li>
            </ul>
        </div>
        <ul class="footerNav">
            <li><a href="./">Home</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Tips y cuidados</a></li>
            <li><a href="">Envíos</a></li>
            <li><a href="">Preguntas frecuentes</a></li>
        </ul>
        <div class="contactAndFooterLogin">
            <ul class="contact">
                <li>CONTACTO</li>
                <li class="contactInfo"><i class="fas fa-envelope"></i>info@arrayces.com.ar</li>
                <li class="contactInfo"><i class="fas fa-phone"></i>11-0055-5500</li>
                <li class="contactInfo"><i class="fas fa-map-marker-alt"></i>Los Lirios 420, CABA</li>
            </ul>
            <div class="footerLogin">
                <button type="button"><a href="./register">Crear cuenta</a></button>
                <button type="button"><a href="./login">Iniciar sesión</a></button>
            </div>
        </div>
        <figure class="footerIsoMobile">
            <img src="images/LOGO_white.png" alt="Iso ARRAYCES">
        </figure>
        <figure class="footerIsoDesktop">
            <img src="images/ISO_white.png" alt="Iso ARRAYCES">
        </figure>
    </footer>

    
</body>
</html>