/*--REGISTRO CSS--*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family:'Open Sans';
}

main{
    margin:20px 20px 20px 20px;
}

.in-reg h4{
    margin: 20px 0 20px 0px;
    font-weight: normal;
}


.login-con h2{
    text-align: center;
    margin-bottom: 20px;
}

.login-con-gg-fb{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 20px;
    align-items: flex-start;
}

.gg{
    background-color: rgb(219 68 55);
    width:80%;
    border: none;
    padding: 4px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    transition: all 0.2s;
}

.gg span{
    display: none;
}

.gg:hover{
    background-color:  rgb(218, 83, 71);
}

.fb{
    background-color: #3b5998;
    width:80%;
    border: none;
    padding: 4px;
    color: white;
    font-weight: bold;
    transition: all 0.2s;
}

.fb span{
    display:none;
}

.fb:hover{
    background-color: #4f6596;
}

.register-form{
    text-align: center;
}

.register-form input{
    width: 90vw;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #0f372c;
}

.register-form input:focus{
    font-weight: bold;
    color: #0f372c;
}

.register-form input::placeholder{
    color: #0f372c;
}

.register-form button{
    margin-top: 20px;
    background-color: #0f372c;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width:50%;
    padding: 7px 15px;
    border: none;
    transition: all 0.4s;
}


.register-form button:hover{
    background-color: #9EAB5B;
}
.contenedor-robot{
    display: flex;
    justify-content: center;
}

.robot{
    display: flex; 
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #0f372c;
    width: 55%;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.robot .checkbox{
    width: 15%;
}

.robot p{
    font-size: 14px;
}

.robot img{
    width: 30px;
}

.ya-tenes-cuenta{
    color:#0f372c;
    text-align: center;
    margin-top: 20px;
}

.ya-tenes-cuenta a:link{
    text-decoration: none;
}

.ya-tenes-cuenta a:visited{
    color:#0f372c;
}

.ya-tenes-cuenta a:visited:hover{
    color: #9EAB5B;
    font-weight: 600;
    
}

.ya-tenes-cuenta:hover{
    color: #9EAB5B;
    font-weight: 600;
}

@media (min-width: 481px){

    .gg span{
        display: inline;
    }

    .fb{
        margin-left: 2px;  
    }

    .fb span{
        display: inline;
    }

    .robot{
        width: 45%;
        padding: 10px;
    }

    .register-form button{
        width: 35%;
    }
}

@media (min-width: 769px){

    main{
        margin:20px 40px 20px 40px;
    }

    .login-con-gg-fb{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .gg{
        width: 35%;
    }

    .fb{
        width: 35%;
    }

    .register-form input{
        width: 65vw;  
    }

    .robot{
        width: 30%;
    }

    .register-form button{
        width: 20%;
    }

}

@media (min-width: 960px){

    .gg{
        width: 35%;
    }

    .fb{
        width: 35%;
        
    }

    .robot{
        width: 25%;
    }

}

@media (min-width: 1280px){

    .in-reg h4{
        font-size: 20px;
    }

    .login-con  h2{
        font-size: 32px;
    }

    .gg{
        width: 26%;
        padding: 7px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .fb{
        width: 26%;
        padding: 7px;
        font-size: 18px;
    }

    .register-form input{
        width: 50vw;
        padding: 10px;
        font-size: 16px;
    }

    
    .robot{
        width: 15%;
    }

    .robot p{
        font-size: 18px;
    }

    .robot img{
        width: 40px;
    }


    .register-form button{
        width: 10%;
        padding: 10px;
        font-size: 18px;
    }

    .ya-tenes-cuenta{
        font-size: 20px;
    }

}